
.slide p, .slide ul, .slide blockquote+figcaption {
  margin-bottom: 20px;
}

.slide blockquote {
  margin-bottom: 50px;
}

header.caption a {
  color: #3C3D40;
  text-shadow: 0 1px 1px #8D8E90;
  transition: color 0.2s;
}

header.caption a:hover {
  color: #1C1D20;
}

a {
  text-decoration: none;
  background: none;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

img {
  max-width: 100%;
}

.pull-right {
  float: right;
}

.slide p {
  margin-bottom: 24px;
}

.disqus {
  float: left;
  width: 100%;
}

#disqus_thread {
  background: #FFF;
  border-radius: 4px;
  margin-right: 100px;
  padding: 12px 24px 0px;
  box-shadow: 0 0 30px rgba(0,0,0,.005), 0 20px 50px rgba(42,43,45,.6);
}

hr {
  border-style: solid;
  border-color: #DDD;
  border-width: 1px;
  border-top: none;
  margin-left: -30px;
  margin-right: -30px;
}

mark {
  margin-left: 0.25em;
  margin-right: 0.25em;

  border-radius: 5px;
  background: #fafaa2;

  padding: 3px 8px;
}

mark.important {
  color: #FFF;
  background-color: #C00;
}

mark.note {
  color: #EEE;
  background-color: transparent;
}

.shadowbox {
  box-shadow: 0 0 30px rgba(0,0,0,.005), 0 20px 50px rgba(42,43,45,.6);
}

.touch-left {
  position: absolute;
  left: 0px;
}

.touch-top {
  position: absolute;
  top: 0px;
}

.touch-bottom {
  position: absolute;
  bottom: 0px;
}

.touch-right {
  position: absolute;
  right: 0px;
}

small {
  font-size: 0.8em;
}

.figure-caption {
  display: block;
  text-align: center;
}

